body {
    position: relative;
    font-family: 'Permanent Marker', cursive;
    text-align: center;
    padding-top: 10px;
    min-height: 100vh;
    margin: 0;
    background-color: black;
    color:darkgray
}

body::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-image: url('viking-background.jpg');
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
    opacity: 0.25;
    z-index: -1;
}

h1 {
    font-size: 46px;
    opacity: 0.8;
}

.centeredImage {
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 5%;
    opacity: 0.8;
}

.caption {
    margin-top: 20px;
    font-size: 24px;
    opacity: 0.8;
}

#passkey {
    width: 40%; 
    height: 20%;
    padding: 10px 20px;
    margin: 80px auto;
    display: block; 
    opacity: 0.7;
}

#passkey, .ok-button {
    vertical-align: middle;
    display: inline-block; 
    margin-right: 10px;
    opacity: 0.6;
}

#a {
    color: aquamarine;
}